sfdx_project/force-app/main/default/flows/testFlowScreen1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>log_a_case</name>
        <label>log_a_case</label>
        <locationX>633</locationX>
        <locationY>320</locationY>
        <actionName>Case.LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>update_records22</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue/>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>new_Acccount_actions</name>
        <label>new Acccount actions</label>
        <locationX>835</locationX>
        <locationY>701</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>delrec1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <stringValue>some acccount name</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>asdadadasd11</name>
        <label>asdadadasd11</label>
        <locationX>348</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>loooooop1.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3333</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopinner1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decs1111</name>
        <label>decs1111</label>
        <locationX>794</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loooooop1.AccountSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33333</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>asdadasd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>111</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_Acccount_actions</targetReference>
            </connector>
            <label>dec1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>recordChoiseSet</description>
        <name>recordChoiseSet</name>
        <dataType>Date</dataType>
        <displayField>CreatedDate</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>looopvar.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <valueField>LastActivityDate</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordchoiseset1</name>
        <dataType>String</dataType>
        <displayField>AccountNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Account</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordchoiset</name>
        <dataType>Currency</dataType>
        <displayField>AnnualRevenue</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <limit>100</limit>
        <object>Account</object>
        <sortField>AccountNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>AnnualRevenue</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordchoiset111</name>
        <dataType>Number</dataType>
        <displayField>AccountNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Account</object>
    </dynamicChoiceSets>
    <formulas>
        <name>asdadasd</name>
        <dataType>String</dataType>
        <expression>CASE( MOD( {!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3,
&quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <interviewLabel>testFlowScreen1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testFlowScreen1</label>
    <loops>
        <name>loooooop1</name>
        <label>loooooop1</label>
        <locationX>434</locationX>
        <locationY>61</locationY>
        <collectionReference>loopset11</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asdadadasd11</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopinner1</name>
        <label>loopinner1</label>
        <locationX>502</locationX>
        <locationY>372</locationY>
        <collectionReference>loopset222</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loooooop1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>log_a_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRecord111</name>
        <label>createRecord111</label>
        <locationX>1161</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <stringValue>123123</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <numberValue>23232.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delrec1</name>
        <label>delrec1</label>
        <locationX>1033</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>createRecord111</targetReference>
        </connector>
        <inputReference>loooooop1</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getrecords222</name>
        <label>getrecords222</label>
        <locationX>281</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loooooop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>4444</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>loopset222</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getrecordssss1</name>
        <label>getrecordssss1</label>
        <locationX>172</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrecords222</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>3333</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>loopset11</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>242</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>screen5</targetReference>
        </connector>
        <inputReference>asdasdasd</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records22</name>
        <label>update records22</label>
        <locationX>539</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>update_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>12312</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <stringValue>123123</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>screeen4</name>
        <label>screeen4</label>
        <locationX>672</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decs1111</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getrecordssss1</targetReference>
        </connector>
        <fields>
            <name>address11</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>callscript111</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>callScriptResource</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkbox1</name>
            <dataType>Boolean</dataType>
            <fieldText>checkbox1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>708</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen3</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>1014</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screeen4</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen5</name>
        <label>screen5</label>
        <locationX>83</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>asdasdasd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>callScriptResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>looopvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>loopset11</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>loopset222</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
