sfdx_project/force-app/main/default/flows/TestAutolanchedFlow111.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>asdasdasdasd</name>
        <label>asdasd</label>
        <locationX>179</locationX>
        <locationY>274</locationY>
        <actionName>InvocableTestClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>aqdqwdqwd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>12312312</stringValue>
        </value>
    </constants>
    <interviewLabel>TestAutolanchedFlow111 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestAutolanchedFlow111</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>58</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>pause1111</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>asdasdasd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>123123</stringValue>
        </value>
    </variables>
    <variables>
        <name>resumetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>asdasdasdas</stringValue>
        </value>
    </variables>
    <waits>
        <name>pause1111</name>
        <label>pause1111</label>
        <locationX>423</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>p1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>pause1111</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asdasdasdasd</targetReference>
            </connector>
            <eventType>BatchApexErrorEvent</eventType>
            <inputParameters>
                <name>AsyncApexJobId</name>
                <value>
                    <elementReference>aqdqwdqwd</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Message</name>
                <value>
                    <elementReference>aqdqwdqwd</elementReference>
                </value>
            </inputParameters>
            <label>p1</label>
        </waitEvents>
    </waits>
</Flow>
